@mixin phablet {
    @media screen and (min-width: #{$phablet}){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet}){
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: #{$laptop}){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}){
        @content;
    }
}

@mixin container {
    width: 100%;
    margin: 0 auto;

    @include phablet {
        width: 90%;
    }

    @include tablet {
        width: 90%;
    }

    @include laptop {
        width: 900px;
    }

    @include desktop {
        width: 900px;
    }
}