////////  Responsive Sizes  ////////

$phablet: 424px;
$tablet: 769px;
$laptop: 1025px;
$desktop: 1440px;

////////  Colors  ////////

$black: #000;
$black_light: #272727;
$white: #fff;
$white_light: #fefefe;
$blue: #00638a;