{% extends "base.twig" %}

{% block content %}
    	<div class="event-preview">
			<h1>Juin 2020</h1>
			<div class="event-box">
            {% for post in evenements_juin %}
                <div class="event-item">
                    <a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(270) }}" /></a>
                    <div class="event-item-type"><span>{{ post.event_type }}</span></div>
                    <a href="{{ post.link }}"><h2 class="event-item-title">{{ post.title }}</h2></a>
                    {% if post.event_start_date == post.event_last_date %}
                        <span>Le {{ post.event_start_date|date("j F Y") }}</span>
                    {% else %}
                        <span>Du {{ post.event_start_date|date("j F") }}
                        au {{ post.event_last_date|date("j F Y") }}</span>
                    {% endif %}
                </div>
            {% endfor %}
			</div>
		</div>
    	<div class="event-preview">
			<h1>Juillet 2020</h1>
			<div class="event-box">
            {% for post in evenements_juin %}
                <div class="event-item">
                    <a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(270) }}" /></a>
                    <div class="event-item-type"><span>{{ post.event_type }}</span></div>
                    <a href="{{ post.link }}"><h2 class="event-item-title">{{ post.title }}</h2></a>
                    {% if post.event_start_date == post.event_last_date %}
                        <span>Le {{ post.event_start_date|date("j F Y") }}</span>
                    {% else %}
                        <span>Du {{ post.event_start_date|date("j F") }}
                        au {{ post.event_last_date|date("j F Y") }}</span>
                    {% endif %}
                </div>
            {% endfor %}
			</div>
		</div>
    	<div class="event-preview">
			<h1>Août 2020</h1>
			<div class="event-box">
            {% for post in evenements_aout %}
                <div class="event-item">
                    <a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(270) }}" /></a>
                    <div class="event-item-type"><span>{{ post.event_type }}</span></div>
                    <a href="{{ post.link }}"><h2 class="event-item-title">{{ post.title }}</h2></a>
                    {% if post.event_start_date == post.event_last_date %}
                        <span>Le {{ post.event_start_date|date("j F Y") }}</span>
                    {% else %}
                        <span>Du {{ post.event_start_date|date("j F") }}
                        au {{ post.event_last_date|date("j F Y") }}</span>
                    {% endif %}
                </div>
            {% endfor %}
			</div>
		</div>
{% endblock %}
