{% extends "base.twig" %}

{% block content %}
	<div class="presentation-container">
		<div class="presentation-left">
			<h1 class="presentation-title">Lorem ipsum dolor sit amet consectetur adipiscing</h1>
			<div class="presentation-txt"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Duis luctus orci at nisi maximus imperdiet. In euismod lacinia lectus sed viverra. Vivamus commodo nec massa eget faucibus. 
			Nam cursus hendrerit nunc. Cras fermentum, ipsum a dapibus venenatis, purus sem consequat tellus, sit amet hendrerit est mi sed nisi.</p></div>
		</div>
		<div class="presentation-right">
			<img class="presentation-picture" src="{{ theme_url }}/uploads/2020/04/event-picture.png" />
		</div>
	</div>
	<div class="event-preview">
		<h1>Événements à venir</h1><a class="more" href="{{ theme_url }}/evenements">Voir tous les événements</a>
		<div class="event-box">
		{% for post in evenements |slice(0,6) %}
			<div class="event-item">
				<a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(270) }}" /></a>
				<div class="event-item-type"><span>{{ post.event_type }}</span></div>
				<a href="{{ post.link }}"><h2 class="event-item-title">{{ post.title }}</h2></a>
				{% if post.event_start_date == post.event_last_date %}
					<span>Le {{ post.event_start_date|date("j F Y") }}</span>
				{% else %}
					<span>Du {{ post.event_start_date|date("j F") }}
					au {{ post.event_last_date|date("j F Y") }}</span>
				{% endif %}
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}
