{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
           <div class="event-content-left">
		        <div class="event-overtitle-box">
					<div class="event-type"><span>{{ post.event_type }}</span></div>
					<div class="event-dates">
						<span class="event-start-date">{{ post.event_start_date|date("j F") }}</span> au
						<span class="event-last-date">{{ post.event_last_date|date("j F Y") }}</span>
					</div>
				</div>
		   		<h1 class="event-title">{{ post.title }}</h1>
				<div class="event-promoter"><p>Événement organisé par</p><span>{{ post.promoter }}</span></div>
				<div class="event-description">{{ post.content }}</div>
		   </div>
		   <div class="event-content-right">
		   		<img class="event-picture" src="{{ post.thumbnail.src }}" />
		   </div>
		</article>
		<div class="event-preview">
			<h1>Autres événements organisés par {{ post.promoter }}</h1>
			<div class="event-box">
			{% for post in evenements %}
				<div class="event-item">
					<img src="{{ post.thumbnail.src|resize(270) }}" />
					<div class="event-item-type"><span>{{ post.event_type }}</span></div>
					<h2 class="event-item-title">{{ post.title }}</h2>
					{% if post.event_start_date == post.event_last_date %}
						<span>Le {{ post.event_start_date|date("j F Y") }}</span>
					{% else %}
						<span>Du {{ post.event_start_date|date("j F") }}
						au {{ post.event_last_date|date("j F Y") }}</span>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}