.presentation-container {
    @include container;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 20px;

    @include laptop {
        flex-direction: unset;
        padding-bottom: 50px;
    }

    .presentation-left {
        padding: 20px 22px 0 22px;

        @include laptop {
            max-width: 430px;
            padding: 0;
        }

        .presentation-title {
            padding: 20px 0 20px 0;
        }

        .presentation-txt {
            padding: 29px 0;
            text-align: left;

            @include laptop {
                padding: 19px 0;
                max-width: 430px;
                text-align: unset;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 20px;
            }
        }
    } 

    .presentation-right {
        display: flex;
        justify-content: center;
        
        @include laptop {
            display: unset;
            justify-content: unset;
        }

        .presentation-picture {
            max-width: 333px;
            
            @include laptop {
                max-width: unset;
            }
        }
    }
}