.post-type-evenements {
    @include container;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 20px;

    @include laptop {
        flex-direction: unset;
        padding-bottom: unset;
    }

    .event-content-left {
        padding: 20px 22px 0 22px;

        @include laptop {
            max-width: 430px;
            padding: 0;
        }

        .event-overtitle-box {
            display: inline-flex;

            .event-type {
                position: relative; 
                max-width: max-content;
                padding: 2px 9px 2px 9px;
                background-color: $blue;
                border-radius: 10px;

                span {            
                    font-family: 'Raleway', sans-serif;
                    font-size: 12px;
                    font-weight: 900;
                    color: $white;
                    text-transform: uppercase;
                } 
            }
            .event-dates {
                padding: 3px 10px 1px 10px;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: $black_light;
            }
        }

        .event-title {
            padding: 10px 0 20px 0;
        }

        .event-promoter {
            display: inline-flex;

            p {
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                color: $black_light;
            }
            span {
                padding-left: 3px;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .event-description {
            padding: 29px 0;
            text-align: left;

            @include laptop {
                max-width: 430px;
                text-align: unset;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 20px;
            }
        }
    } 

    .event-content-right {
        display: flex;
        justify-content: center;

        @include laptop {
            display: unset;
            justify-content: unset;
        }

        .event-picture {
            max-width: 333px;
            
            @include laptop {
                max-width: unset;
            }
        }
    }
}

.event-preview {
@include container; 
position: relative;
text-align: center;

    h1 {
        padding: 10px 20px 20px 20px;
        text-align: center;
        
        @include laptop {
            padding: 10px 0 30px 0;
            text-align: left; 
        }
    }

    .more,
    .more:visited {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: $blue;
        text-decoration: underline;
        text-align: center;

        @include phablet {
            position: unset;
            margin: 0 auto;
        }

        @include laptop {
            position: absolute;
            top: 17px;
            left: unset;
            right: 30px;
            text-align: unset;
            margin-bottom: unset;
        }
    }

    .event-box {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            margin-top: unset;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: unset;
        }

        .event-item {            
            display: flex;
            flex-direction: column;
            max-width: 270px;
            margin-right: 0;
            margin-bottom: 30px;

            @include laptop {
                margin-right: 30px;
            }

            .event-item-title {
                padding: 10px; 
                text-align: center;

                @include laptop {
                   padding: 20px; 
                }
            }

            .event-item-type {
                position: relative;
                z-index: 2;
                top: -10px;
                left: 50%; 
                transform: translateX(-50%);
                max-width: max-content;
                padding: 2px 9px 2px 9px;
                background-color: $blue;
                border-radius: 10px;

                span {
                    font-family: 'Raleway', sans-serif;
                    font-size: 12px;
                    font-weight: 900;
                    color: $white;
                    text-transform: uppercase;
                }
            }

            a,
            a:visited {
                color: $black_light;
                text-decoration: none;

                &:hover {
                    color: $black_light;
                    text-decoration: underline;
                }
            }

            span {
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: $black_light;
                text-align: center;
            }
        }
    }
} 
