html {
    height: 100%;
}

body {
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: $white;
    overflow-x: hidden;
}    

///////  WordPress  ///////

.page {
    height: 100% !important;
}

.content-wrapper {
    padding-bottom: 180px;
}

///////  Globals  ///////
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $black_light;

    @include laptop {
        font-size: 30px;
    }
}

h2 { 
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    font-weight: 700;
    color: $black_light;
}