footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-self: center;            
    padding: 40px;
    background-color: $black_light;

    .footer-content {
        @include container;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include laptop {
            flex-direction: row;
            justify-content: space-between;
        }

        span:first-child {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: $white;
            margin-bottom: 10px;
            @include laptop {
                margin-bottom: unset;
            }
        }
        span:last-child {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: $white;
        }
    }
}