header {
    padding: 40px 0 60px 0;

    @include laptop {
        padding: 50px 0 100px 0;
    }

    .modulo-logo {
        @include container;
        display: flex;
        justify-content: center;
        background-image: url('../images/modulo-logo.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 176px;
        height: 100px;
        margin-bottom: 45px;

        @include laptop {
            margin-bottom: 60px;
        }
    }

    .nav-main {
    @include container;
    display: flex;
    justify-content: center;

        ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 258px;

            @include laptop {
                flex-direction: row;
                flex-wrap: unset;
                justify-content: space-between;
                max-width: 544px;
            }

            li {
                margin-bottom: 20px;

                @include laptop {
                    margin-bottom: 0;
                }

                a {
                    font-family: 'Raleway', sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    color: $blue;
                    text-decoration: none;
                    padding: 12px 20px;

                    &:hover {
                        color: $white;
                        background-color: $blue;
                    }
                }
            }
        }
    }
}